In [66]:
import pandas as pd
import numpy as np

import os

In [67]:
data = pd.read_csv(os.path.join('..', 'input', 'train.csv'))

data.head()

,label,pre requisite,concept,pre requisite taxonomy,concept taxonomy,title 12,title 12.1,title 12.2,title 12.3,title 12.4,...,BOW 656,BOW 657,BOW 658,BOW 659,BOW 660,BOW 661,BOW 662,BOW 663,BOW 664,BOW 665
0,1,Collection and Presentation of Data - II,Assumed Mean Method,IX>>Mathematics>>Statistics>>Graphical Represe...,X>>Mathematics>>Statistics>>Cumulative Frequen...,0.423383,3,1.000000,1.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
1,1,Frequency Polygon,Assumed Mean Method,IX>>Mathematics>>Statistics>>Graphical Represe...,X>>Mathematics>>Statistics>>Cumulative Frequen...,0.454223,2,1.000000,1.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
2,1,Mean,Assumed Mean Method,VII>>Mathematics>>Data Handling>>Median,X>>Mathematics>>Statistics>>Cumulative Frequen...,0.809664,1,1.000000,1.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
3,0,Angle Sum Property,Construction of a Similar Triangle,VII>>Mathematics>>The Triangle and its Propert...,X>>Mathematics>>Triangles>>Similar Figures,0.614234,3,1.000000,1.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
4,0,Inequality Property of Triangle,Construction of a Similar Triangle,VII>>Mathematics>>The Triangle and its Propert...,X>>Mathematics>>Triangles>>Similar Figures,0.739953,2,0.666667,0.666667,0.666667,...,0,0,0,0,0,0,0,0,0,0

In [68]:
print(f'Length of the dataset {len(data)}')

print(f'Rows with a prereq ( Label = 1 ) {sum(data.label == 1)}')

print(f'Rows without a prereq ( Label = 0 ){sum(data.label == 0)}')

Length of the dataset 2797
Rows with a prereq ( Label = 1 ) 1113
Rows without a prereq ( Label = 0 )1684

In [69]:
print(f'Unique concepts in the dataset {len(data.concept.unique())}')

print(f'Unique pre reqs in the dataset {len(data["pre requisite"].unique())}')

Unique concepts in the dataset 666
Unique pre reqs in the dataset 439

In [70]:
meta_data = pd.read_csv(os.path.join('..', 'input', 'metadata.csv'))

meta_data.head(5)

,video name,transcript,extracted
0,Collection and Presentation of Data - II,we already know that data can be presented us...,"['upper class interval', 'upper class limit', ..."
1,Frequency Polygon,there is the same ar picture is for ar thousa...,"['frequency polygon ar frequency polygon', 'co..."
2,Mean,mean in our day to day life we talk about ave...,"['basket ball players', 'average', 'central va..."
3,Angle Sum Property,angle sum property done by an looking confuse...,"['triangle angle', 'testa line tan', 'good tan..."
4,Inequality Property of Triangle,the sum of the lengths of any two sides of tr...,"['lengths equal', 'third side', 'lengths']"

In [71]:
print(f'length of meta_data {len(meta_data)}')

print(f'Unique number  of videos in meta_data {len(meta_data["video name"].unique())}')

length of meta_data 910
Unique number  of videos in meta_data 910

In [72]:
print(f'Average length of transcript in the dataset {meta_data["transcript"].apply(lambda x: len(x.split())).mean()}')

Average length of transcript in the dataset 448.6142857142857

# Q. If A->B is in D then is there B!->A in D as well ?

In [73]:
data[data['label'] == 1].keys()

Index(['label', 'pre requisite', 'concept', 'pre requisite taxonomy',
       'concept taxonomy', 'title 12', 'title 12.1', 'title 12.2',
       'title 12.3', 'title 12.4',
       ...
       'BOW 656', 'BOW 657', 'BOW 658', 'BOW 659', 'BOW 660', 'BOW 661',
       'BOW 662', 'BOW 663', 'BOW 664', 'BOW 665'],
      dtype='object', length=986)

In [94]:
df_label1 = data[data['label'] == 1][['pre requisite', 'concept']]

In [95]:
df_label0 = (data[data['label'] == 0][['pre requisite', 'concept']])

In [99]:
df_label0.rename(columns={'pre requisite': 'concept', 'concept': 'pre requisite'}, inplace=True)

In [100]:
df_label0.merge(df_label1)

# there is an intersection of 9 rows between the two

                    concept                     pre requisite
0              Soil Erosion                      Soil Profile
1       kepler's second law                kepler's first law
2        Kepler's third law                kepler's first law
3        Kepler's third law               kepler's second law
4             Fertilisation         Human Reproductive System
5             Fertilisation  Viviparous and Oviparous Animals
6             Galvanic Cell              Electrochemical cell
7      Cellular Respiration             Anaerobic Respiration
8  Double Blood Circulation                     Blood Vessels

In [101]:
df_label0 = (data[data['label'] == 0][['pre requisite', 'concept']])

In [102]:
df_label_change = df_label1.rename(columns={'pre requisite': 'concept', 'concept': 'pre requisite'}, inplace=False)

In [103]:
(df_label0.append(df_label_change).value_counts() == 2).sum()

9

In [104]:
data.label.values

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [116]:
df = pd.read_csv(os.path.join('..', 'input', 'train_folds.csv'))

In [117]:
df_unagumented = pd.read_csv(os.path.join('..', 'input', 'train.csv'))

In [118]:
df['label'].value_counts()

0    2788
1    1113
Name: label, dtype: int64

In [119]:
df_unagumented['label'].value_counts()

0    1684
1    1113
Name: label, dtype: int64