In [66]:
import pandas as pd
import numpy as np

import os

In [137]:
data = pd.read_csv(os.path.join('..', 'input', 'train_folds.csv'))

data.head()

,label,pre requisite,concept,pre requisite taxonomy,concept taxonomy,title 12,title 12.1,title 12.2,title 12.3,title 12.4,...,BOW 657,BOW 658,BOW 659,BOW 660,BOW 661,BOW 662,BOW 663,BOW 664,BOW 665,kfold
0,1,Volume of a Cylinder,Volume of Combination of Hemisphere and Cylinder,VIII>>Mathematics>>Mensuration>>Volume of Soli...,VIII>>Mathematics>>Mensuration>>Volume of Soli...,0.884399,1,0.5,0.5,0.5,...,0,0,0,0,0,0,0,0,0,0
1,0,Slow and fast motion,Translatory Motion,VI>>Science>>Motion and Measurement of Distanc...,IX>>Science>>Motion>>Describing Motion,0.860345,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,-1
2,0,Construction of an Angle of 60,Gauss s Law,IX>>Mathematics>>Constructions>>Some Construct...,XII>>Physics>>Physics: Part - I>>Electrostatic...,0.323783,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,-1
3,0,Gravitational potential energy,Mechanical Energy,"XI>>Physics>>Physics : Part - I>>Work, Energy ...",XI>>Physics>>Physics : Part - I>>Gravitation>>...,0.871826,2,1.0,1.0,1.0,...,0,0,0,2,0,0,2,0,0,-1
4,0,Water Management,Composition of Air,VII>>Science>>Water: A Precious Resource>>Grou...,IX>>Science>>Natural Resources>>Air as a Natur...,0.583857,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,-1

In [140]:
data['kfold']

0       0
1      -1
2      -1
3      -1
4      -1
       ..
3896   -1
3897   -1
3898   -1
3899   -1
3900   -1
Name: kfold, Length: 3901, dtype: int64

In [161]:
from sklearn import model_selection
import pandas as pd
import numpy as np
import os

# read the data 
data = pd.read_csv(os.path.join('..', 'input', 'train.csv'))

print(f'Length of the original dataset {len(data)}')

# data augumention if ( A->B then B!->A)
data_label1 = data[data['label'] == 1]
data_label0 = data[data['label'] == 0]

data_label_change = data_label1.rename(columns={'pre requisite': 'concept', 'concept': 'pre requisite'}, inplace=False)

data_label0 = data_label0.append(data_label_change).drop_duplicates(subset=['concept', 'pre requisite'])

data_label0['label'] = 0 # change the label for the agumentation

data = pd.concat([data_label0, data_label1])

print(f'Length of the augumented dataset {len(data)}')

print(data['label'].value_counts())

# seperate into folds

data['kfold'] = -1

data = data.sample(frac = 1).reset_index(drop = True)

# print(data)
labels = data['label'].values

print(labels)

kf = model_selection.StratifiedKFold(n_splits=5)

# for f, (t_, v_) in enumerate(kf.split(X = data, y = labels)):
#     print(t_)

Length of the original dataset 2797
Length of the augumented dataset 3901
0    2788
1    1113
Name: label, dtype: int64
[0 0 0 ... 0 1 0]

In [68]:
print(f'Length of the dataset {len(data)}')

print(f'Rows with a prereq ( Label = 1 ) {sum(data.label == 1)}')

print(f'Rows without a prereq ( Label = 0 ){sum(data.label == 0)}')

Length of the dataset 2797
Rows with a prereq ( Label = 1 ) 1113
Rows without a prereq ( Label = 0 )1684

In [69]:
print(f'Unique concepts in the dataset {len(data.concept.unique())}')

print(f'Unique pre reqs in the dataset {len(data["pre requisite"].unique())}')

Unique concepts in the dataset 666
Unique pre reqs in the dataset 439

In [135]:
meta_data = pd.read_csv(os.path.join('..', 'input', 'metadata.csv'), index_col='video name')['transcript']

meta_data.head(5)

video name
Collection and Presentation of Data - II     we already know that data can be presented us...
Frequency Polygon                            there is the same ar picture is for ar thousa...
Mean                                         mean in our day to day life we talk about ave...
Angle Sum Property                           angle sum property done by an looking confuse...
Inequality Property of Triangle              the sum of the lengths of any two sides of tr...
Name: transcript, dtype: object

In [136]:
print(meta_data.get('Mean', default=None))

 mean in our day to day life we talk about averages all the time like the average speed of car the average score of test the average height of basket ball players the average wage or income do you know what an average is an average is the central value of a set of numbers for a data set the term average an arithmetic mean are used synonymously to refer to a central value of set of numbers the arithmetic mean or simply mean of observations ex one ex to and so on up to ex m is the sum of the observations divided by the number of observations the arithmetic mean is normally denoted by ex bar let us take an example the arithmetic mean of five values six three four five and seven is six plus three plus four plus five plus seven divided by five on simplification arithmetic mean is equal to five

In [71]:
print(f'length of meta_data {len(meta_data)}')

print(f'Unique number  of videos in meta_data {len(meta_data["video name"].unique())}')

length of meta_data 910
Unique number  of videos in meta_data 910

In [72]:
print(f'Average length of transcript in the dataset {meta_data["transcript"].apply(lambda x: len(x.split())).mean()}')

Average length of transcript in the dataset 448.6142857142857

# Q. If A->B is in D then is there B!->A in D as well ?

In [73]:
data[data['label'] == 1].keys()

Index(['label', 'pre requisite', 'concept', 'pre requisite taxonomy',
       'concept taxonomy', 'title 12', 'title 12.1', 'title 12.2',
       'title 12.3', 'title 12.4',
       ...
       'BOW 656', 'BOW 657', 'BOW 658', 'BOW 659', 'BOW 660', 'BOW 661',
       'BOW 662', 'BOW 663', 'BOW 664', 'BOW 665'],
      dtype='object', length=986)

In [94]:
df_label1 = data[data['label'] == 1][['pre requisite', 'concept']]

In [95]:
df_label0 = (data[data['label'] == 0][['pre requisite', 'concept']])

In [99]:
df_label0.rename(columns={'pre requisite': 'concept', 'concept': 'pre requisite'}, inplace=True)

In [100]:
df_label0.merge(df_label1)

# there is an intersection of 9 rows between the two

                    concept                     pre requisite
0              Soil Erosion                      Soil Profile
1       kepler's second law                kepler's first law
2        Kepler's third law                kepler's first law
3        Kepler's third law               kepler's second law
4             Fertilisation         Human Reproductive System
5             Fertilisation  Viviparous and Oviparous Animals
6             Galvanic Cell              Electrochemical cell
7      Cellular Respiration             Anaerobic Respiration
8  Double Blood Circulation                     Blood Vessels

In [101]:
df_label0 = (data[data['label'] == 0][['pre requisite', 'concept']])

In [102]:
df_label_change = df_label1.rename(columns={'pre requisite': 'concept', 'concept': 'pre requisite'}, inplace=False)

In [103]:
(df_label0.append(df_label_change).value_counts() == 2).sum()

9

In [104]:
data.label.values

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [116]:
df = pd.read_csv(os.path.join('..', 'input', 'train_folds.csv'))

In [117]:
df_unagumented = pd.read_csv(os.path.join('..', 'input', 'train.csv'))

In [118]:
df['label'].value_counts()

0    2788
1    1113
Name: label, dtype: int64

In [119]:
df_unagumented['label'].value_counts()

0    1684
1    1113
Name: label, dtype: int64

In [128]:
df.items()

In [122]:
for row in df.items():
    print(row)
    break

('label', 0       0
1       1
2       0
3       0
4       0
       ..
3896    0
3897    0
3898    0
3899    1
3900    0
Name: label, Length: 3901, dtype: int64)